# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
pip-wheel-metadata/
wheels/

# Virtual environments
.env
.venv/
venv/
ENV/
env/
venv.bak/
env.bak/

# Testing / coverage / type checkers
.pytest_cache/
.cache/
htmlcov/
.coverage
.coverage.*
.coveragerc
nosetests.xml
*.cover
.tox/
.nox/
mypy_cache/
.dmypy.json
.pyre/

# Jupyter
.ipynb_checkpoints

# PyInstaller
# Usually created by `pyinstaller`
dist/
build/

# Logs and temporary files
*.log
*.pot
*.tmp
*.swp
*~

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Misc
instance/
.webassets-cache
celerybeat-schedule
*.sqlite3


grammar.apy